<body>
    <header class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Learn more about our company and mission.</p>
</header>
<div class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Our History</h2>
          <p class="lead">First website that has been deployed by Employee Relations, it is part of an Continues Assemsmnet for Cloud Applications</p>
        </div>
        <div class="col-md-6">
          <h2>Our Mission</h2>
          <p class="lead">I was required to design, develop a Software as a SErvice Application using a web application framework and suitable design patterns. The application is an information managment system and is implemented using Rails</p>
        </div>
      </div>
